# Step 2: Clean the Data

**Project Description**: This project aims to analyze which words in news headlines generate the most engagement. Headlines are from the r/news subreddit.

In [1]:
import pandas as pd
import re

In [2]:
titles = pd.read_csv('Titles.csv').drop(['Unnamed: 0'], axis=1) # read from csv and drop extra index column
titles

,Title,Upvote_ratio,Upvotes,Comments
0,Cash-strapped Britons give up pets as living c...,0.83,4.0,0.0
1,Anne Heche ‘peacefully taken off life support’...,0.92,11.0,0.0
2,Billionaires are funding a massive mineral dep...,0.87,11.0,6.0
3,China new bank loans tumble more than expected...,0.82,14.0,1.0
4,Risks of disaster at nuclear plant ‘increasing...,0.86,20.0,3.0
...,...,...,...,...
10095,Anne Heche “Not Expected To Survive” After Sev...,0.94,5474.0,1416.0
10096,"Over 900,000 Brazilians sign letter in defense...",0.96,1330.0,53.0
10097,2 detained after Brentwood 24 Hour Fitness sho...,0.89,200.0,32.0
10098,FBI searched Trump’s home to look for nuclear ...,0.91,39124.0,5365.0
10099,Lebanon man hailed hero for holding Beirut ban...,0.93,325.0,10.0

### 4 steps for cleaning the code:
1. Drop first 100 observations to remove news that haven't been around for long enough
2. Get rid of special characters

In [3]:
heading = titles['Title'][49] # example of title with numbers and special character
heading

'Beaverton Police Nab $22 Million Catalytic Converter Trafficking Ring'